<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NabomanPay"
        tools:targetApi="31">
        <activity
            android:name=".presentation.activities.DoneActivity"
            android:exported="true"
            android:label="@string/title_activity_done"
            android:theme="@style/Theme.NabomanPay" />
        <activity
            android:name=".presentation.activities.SlipActivity"
            android:exported="true"
            android:label="@string/title_activity_slip"
            android:theme="@style/Theme.NabomanPay" />
        <activity
            android:name=".presentation.activities.EditProfileActivity"
            android:exported="true"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/Theme.NabomanPay" />
        <activity
            android:name=".presentation.activities.ProfileActivity"
            android:exported="true"
            android:label="@string/title_activity_profile"
            android:theme="@style/Theme.NabomanPay" />
        <activity
            android:name=".presentation.activities.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.NabomanPay" />
        <activity
            android:name=".presentation.activities.ReportActivity"
            android:exported="true"
            android:label="@string/title_activity_report"
            android:theme="@style/Theme.NabomanPay" />
        <activity
            android:name=".presentation.activities.ExtractActivity"
            android:exported="true"
            android:label="@string/title_activity_extract"
            android:theme="@style/Theme.NabomanPay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.NabomanPay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>